In [99]:
pip install kmodes

Collecting kmodesNote: you may need to restart the kernel to use updated packages.
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)

Requirement already satisfied: scipy>=0.13.3 in c:\users\anirudhtp\anaconda3\envs\cyberarmy\lib\site-packages (from kmodes) (1.7.3)
Requirement already satisfied: numpy>=1.10.4 in c:\users\anirudhtp\anaconda3\envs\cyberarmy\lib\site-packages (from kmodes) (1.21.5)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\anirudhtp\anaconda3\envs\cyberarmy\lib\site-packages (from kmodes) (1.0.1)
Requirement already satisfied: joblib>=0.11 in c:\users\anirudhtp\anaconda3\envs\cyberarmy\lib\site-packages (from kmodes) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anirudhtp\anaconda3\envs\cyberarmy\lib\site-packages (from scikit-learn>=0.22.0->kmodes) (3.0.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.1

In [4]:
import pandas as pd

In [10]:
## Identify encoding for csv
import chardet
with open("Training_data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'UTF-16', 'confidence': 1.0, 'language': ''}

In [20]:
data = pd.read_csv("Training_data.csv", encoding="UTF-16", header=None, on_bad_lines='skip',sep='\t')

In [21]:
data.shape

(9388270, 13)

In [22]:
# Selects random 15000 samples
data = data.sample(n=15000)

In [23]:
headers = ["frame_no","frame_arrival_time","eth_src_address","eth_dst_address","ip_src","ip_dst","tcp_src_port","tcp_dst_port","udp_src_port","udp_dst_port","frame_relative_time","frame_length","frame_time_duplicate"]

In [25]:
# Adding headers
data.columns = headers

In [26]:
data.head()

,frame_no,frame_arrival_time,eth_src_address,eth_dst_address,ip_src,ip_dst,tcp_src_port,tcp_dst_port,udp_src_port,udp_dst_port,frame_relative_time,frame_length,frame_time_duplicate
2439698,2439699,NaN,00:44:66:fc:29:af,00:55:22:af:c6:37,195.50.87.130,172.16.2.2,80.0,1097.0,NaN,NaN,-1.211071e+08,96,"Oct 8, 2007 21:40:45.952513000 India Standard..."
8691406,8691407,NaN,00:22:19:20:7b:d3,00:01:02:72:ab:55,192.168.5.122,80.66.211.179,22.0,56055.0,NaN,NaN,-3.658922e+07,850,"Jun 13, 2010 02:51:16.699289000 India Standard..."
6833917,6833918,NaN,00:01:02:72:ab:55,00:e0:b1:87:f5:94,68.178.178.97,192.168.1.105,80.0,18498.0,NaN,NaN,-3.661690e+07,1434,"Jun 12, 2010 19:10:01.112932000 India Standard..."
1157506,1157507,NaN,08:00:27:b5:b7:19,00:1e:49:db:19:c3,147.32.84.165,124.13.76.15,NaN,NaN,7600.0,7600.0,7.795812e+05,1098,"Aug 19, 2011 15:04:41.713501000 India Standard..."
8575890,8575891,NaN,00:09:6b:e9:a9:00,00:e0:b1:87:f5:94,192.168.2.110,69.192.24.88,3902.0,80.0,NaN,NaN,-3.659280e+07,60,"Jun 13, 2010 01:51:38.592182000 India Standard..."

In [29]:
data.drop("frame_arrival_time", inplace=True, axis=1)

In [31]:
data.rename(columns={"frame_time_duplicate":"frame_arival_time"},inplace=True)

In [32]:
data

,frame_no,eth_src_address,eth_dst_address,ip_src,ip_dst,tcp_src_port,tcp_dst_port,udp_src_port,udp_dst_port,frame_relative_time,frame_length,frame_arival_time
2439698,2439699,00:44:66:fc:29:af,00:55:22:af:c6:37,195.50.87.130,172.16.2.2,80.0,1097.0,NaN,NaN,-1.211071e+08,96,"Oct 8, 2007 21:40:45.952513000 India Standard..."
8691406,8691407,00:22:19:20:7b:d3,00:01:02:72:ab:55,192.168.5.122,80.66.211.179,22.0,56055.0,NaN,NaN,-3.658922e+07,850,"Jun 13, 2010 02:51:16.699289000 India Standard..."
6833917,6833918,00:01:02:72:ab:55,00:e0:b1:87:f5:94,68.178.178.97,192.168.1.105,80.0,18498.0,NaN,NaN,-3.661690e+07,1434,"Jun 12, 2010 19:10:01.112932000 India Standard..."
1157506,1157507,08:00:27:b5:b7:19,00:1e:49:db:19:c3,147.32.84.165,124.13.76.15,NaN,NaN,7600.0,7600.0,7.795812e+05,1098,"Aug 19, 2011 15:04:41.713501000 India Standard..."
8575890,8575891,00:09:6b:e9:a9:00,00:e0:b1:87:f5:94,192.168.2.110,69.192.24.88,3902.0,80.0,NaN,NaN,-3.659280e+07,60,"Jun 13, 2010 01:51:38.592182000 India Standard..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8926885,8926886,00:09:6b:e9:a9:00,00:e0:b1:87:f5:94,192.168.2.110,69.84.133.138,4721.0,80.0,NaN,NaN,-3.658240e+07,120,"Jun 13, 2010 04:45:00.096544000 India Standard..."
659914,659915,08:00:27:b5:b7:19,00:1e:49:db:19:c3,147.32.84.170,38.229.70.20,1027.0,6667.0,NaN,NaN,3.802595e+05,79,"Aug 15, 2011 00:09:20.010979000 India Standard..."
8258387,8258388,00:01:02:72:ab:55,00:e0:b1:87:f5:94,74.63.40.21,192.168.4.120,80.0,1434.0,NaN,NaN,-3.659688e+07,1434,"Jun 13, 2010 00:43:42.041527000 India Standard..."
6738692,6738693,00:01:02:72:ab:55,00:e0:b1:87:f5:94,74.63.40.21,192.168.4.120,80.0,4432.0,NaN,NaN,-3.661869e+07,1434,"Jun 12, 2010 18:40:15.358540000 India Standard..."
7999238,7999239,00:09:6b:e9:d0:88,00:e0:b1:87:f5:94,192.168.2.113,69.84.133.138,3193.0,80.0,NaN,NaN,-3.659752e+07,60,"Jun 13, 2010 00:32:57.324797000 India Standard..."

In [33]:
# Get malicious IP list from document
from docx.api import Document

In [34]:
document = Document('listofmaliciousips.docx')
table = document.tables[0]

In [35]:
malicious_ips = []
for i, row in enumerate(table.rows):
    malicious_ips.extend([ j.text for j in row.cells])

In [36]:
malicious_ips = [ i for i in malicious_ips if len(i) > 0]

In [37]:
malicious_ips

['192.168.2.112',
 '131.202.243.84',
 '192.168.5.122',
 '198.164.30.2',
 '192.168.2.110',
 '192.168.4.118',
 '192.168.2.113',
 '192.168.1.103',
 '192.168.4.120',
 '192.168.2.112',
 '192.168.2.109',
 '192.168.2.105',
 '147.32.84.180',
 '147.32.84.170',
 '147.32.84.150',
 '147.32.84.140',
 '147.32.84.130',
 '147.32.84.160',
 '10.0.2.15',
 '192.168.106.141',
 '192.168.106.131',
 '172.16.253.130',
 '172.16.253.131',
 '172.16.253.129',
 '172.16.253.240',
 '158.65.110.24',
 '192.168.3.35',
 '192.168.3.25',
 '192.168.3.65',
 '172.29.0.116',
 '172.29.0.109',
 '172.16.253.132',
 '192.168.248.165',
 '10.37.130.4']

In [38]:
data['ip_src'].isin(malicious_ips).sum()

3782

In [39]:
data['ip_dst'].isin(malicious_ips).sum()

3898

In [40]:
15000 - (3782+3898)

7320

In [41]:
import numpy as np

In [42]:
# Label each row in dataset as malicious or not
data["malicious"] = np.where((data['ip_src'].isin(malicious_ips) | data['ip_dst'].isin(malicious_ips)),1,0)

In [44]:
data.head()

,frame_no,eth_src_address,eth_dst_address,ip_src,ip_dst,tcp_src_port,tcp_dst_port,udp_src_port,udp_dst_port,frame_relative_time,frame_length,frame_arival_time,malicious
2439698,2439699,00:44:66:fc:29:af,00:55:22:af:c6:37,195.50.87.130,172.16.2.2,80.0,1097.0,NaN,NaN,-1.211071e+08,96,"Oct 8, 2007 21:40:45.952513000 India Standard...",0
8691406,8691407,00:22:19:20:7b:d3,00:01:02:72:ab:55,192.168.5.122,80.66.211.179,22.0,56055.0,NaN,NaN,-3.658922e+07,850,"Jun 13, 2010 02:51:16.699289000 India Standard...",1
6833917,6833918,00:01:02:72:ab:55,00:e0:b1:87:f5:94,68.178.178.97,192.168.1.105,80.0,18498.0,NaN,NaN,-3.661690e+07,1434,"Jun 12, 2010 19:10:01.112932000 India Standard...",0
1157506,1157507,08:00:27:b5:b7:19,00:1e:49:db:19:c3,147.32.84.165,124.13.76.15,NaN,NaN,7600.0,7600.0,7.795812e+05,1098,"Aug 19, 2011 15:04:41.713501000 India Standard...",0
8575890,8575891,00:09:6b:e9:a9:00,00:e0:b1:87:f5:94,192.168.2.110,69.192.24.88,3902.0,80.0,NaN,NaN,-3.659280e+07,60,"Jun 13, 2010 01:51:38.592182000 India Standard...",1

In [45]:
data["malicious"].sum()

7272

In [46]:
data.to_csv('labeled_data.csv', index=False)

In [169]:
labeled_ds = pd.read_csv("labeled_data.csv")

In [170]:
labeled_ds.head()

,frame_no,eth_src_address,eth_dst_address,ip_src,ip_dst,tcp_src_port,tcp_dst_port,udp_src_port,udp_dst_port,frame_relative_time,frame_length,frame_arival_time,malicious
0,2439699,00:44:66:fc:29:af,00:55:22:af:c6:37,195.50.87.130,172.16.2.2,80.0,1097.0,NaN,NaN,-1.211071e+08,96,"Oct 8, 2007 21:40:45.952513000 India Standard...",0
1,8691407,00:22:19:20:7b:d3,00:01:02:72:ab:55,192.168.5.122,80.66.211.179,22.0,56055.0,NaN,NaN,-3.658922e+07,850,"Jun 13, 2010 02:51:16.699289000 India Standard...",1
2,6833918,00:01:02:72:ab:55,00:e0:b1:87:f5:94,68.178.178.97,192.168.1.105,80.0,18498.0,NaN,NaN,-3.661690e+07,1434,"Jun 12, 2010 19:10:01.112932000 India Standard...",0
3,1157507,08:00:27:b5:b7:19,00:1e:49:db:19:c3,147.32.84.165,124.13.76.15,NaN,NaN,7600.0,7600.0,7.795812e+05,1098,"Aug 19, 2011 15:04:41.713501000 India Standard...",0
4,8575891,00:09:6b:e9:a9:00,00:e0:b1:87:f5:94,192.168.2.110,69.192.24.88,3902.0,80.0,NaN,NaN,-3.659280e+07,60,"Jun 13, 2010 01:51:38.592182000 India Standard...",1

In [171]:
labeled_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   frame_no             15000 non-null  int64
 1   eth_src_address      15000 non-null  object
 2   eth_dst_address      15000 non-null  object
 3   ip_src               14963 non-null  object
 4   ip_dst               14963 non-null  object
 5   tcp_src_port         13791 non-null  float64
 6   tcp_dst_port         13791 non-null  float64
 7   udp_src_port         1174 non-null   float64
 8   udp_dst_port         1174 non-null   float64
 9   frame_relative_time  15000 non-null  float64
 10  frame_length         15000 non-null  int64
 11  frame_arival_time    15000 non-null  object
 12  malicious            15000 non-null  int64
dtypes: float64(5), int64(3), object(5)
memory usage: 1.5+ MB

In [172]:
labeled_ds.dropna(subset=['ip_src','ip_dst'], how='all', inplace=True)

In [173]:
labeled_ds.loc[labeled_ds['tcp_src_port'].isnull() & labeled_ds['udp_src_port'].isnull()].index

Int64Index([14771], dtype='int64')

In [174]:
labeled_ds.drop([14771], inplace=True)

In [175]:
convert_dict = {'tcp_src_port':str, 'udp_src_port':str, 'tcp_dst_port':str, 'udp_dst_port':str}

In [176]:
labeled_ds = labeled_ds.astype(convert_dict)

In [177]:
labeled_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14962 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   frame_no             14962 non-null  int64
 1   eth_src_address      14962 non-null  object
 2   eth_dst_address      14962 non-null  object
 3   ip_src               14962 non-null  object
 4   ip_dst               14962 non-null  object
 5   tcp_src_port         14962 non-null  object
 6   tcp_dst_port         14962 non-null  object
 7   udp_src_port         14962 non-null  object
 8   udp_dst_port         14962 non-null  object
 9   frame_relative_time  14962 non-null  float64
 10  frame_length         14962 non-null  int64
 11  frame_arival_time    14962 non-null  object
 12  malicious            14962 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.6+ MB

In [178]:
import matplotlib.pyplot as plt
import seaborn as sns

In [179]:
labeled_ds.drop(['frame_arival_time'], axis=1, inplace=True)

In [180]:
labeled_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14962 entries, 0 to 14999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   frame_no             14962 non-null  int64
 1   eth_src_address      14962 non-null  object
 2   eth_dst_address      14962 non-null  object
 3   ip_src               14962 non-null  object
 4   ip_dst               14962 non-null  object
 5   tcp_src_port         14962 non-null  object
 6   tcp_dst_port         14962 non-null  object
 7   udp_src_port         14962 non-null  object
 8   udp_dst_port         14962 non-null  object
 9   frame_relative_time  14962 non-null  float64
 10  frame_length         14962 non-null  int64
 11  malicious            14962 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 1.5+ MB

In [181]:
from sklearn.model_selection import train_test_split

In [184]:
one_hot_data = pd.get_dummies(labeled_ds[['tcp_src_port','tcp_dst_port','udp_src_port','udp_dst_port','frame_relative_time','frame_length','malicious']],drop_first=True)

In [185]:
train, test = train_test_split(one_hot_data, test_size=0.3)

In [191]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [163]:
model_tree = DecisionTreeClassifier()

In [186]:
model_tree.fit(train.drop(['malicious'], axis=1), train['malicious'])

DecisionTreeClassifier()

In [187]:
y_pred = model_tree.predict(test.drop(['malicious'], axis=1))

In [192]:
print("Accuracy:",metrics.accuracy_score(test['malicious'], y_pred))

Accuracy: 0.8859434172421474